@import "_basic";
@import "_sheet";
@import "_variable";

.form {
    display: flex;
    flex-wrap: wrap;
    .form__group {
        max-width: none;
        width: calc(100% - 160px);
    }
}

#sound {
    display: none;
}

section {
    &.section--btn {
        font-size: 0;
        button {
            @include breakpoint(max-width 767px) {
                width: 100%;
            }
        }
    }
    &.section--sop {
        // display: none;
        // position: fixed;
        // top: 50%;
        // left: 50%;
        // word-wrap: break-word;
        // @include translate(-50%, -50%);
        // z-index: 10;
        .close--sop {
            position: absolute;
            top: 0;
            right: 20px;
            padding: 20px;
            color: $black;
            border: 0;
            outline: 0;
            &:hover {
                color: $primary;
            }
            .icon {
                display: block;
                font-size: 1.125rem;
            }
        }
    }
}

#previewHtml > table {
    border: 1px solid $gray-200;
}

#sourceCode {
    #copySource {
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    textarea {
        width: 100%;
    }
}